<section class="mt-2">
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @for (item of countries(); track item.cca2; let index = $index) {

                <tr>
                    <th> {{ index + 1 }} </th>
                    <td> {{ item.flag }} </td>
                    <td> 
                        <img class="w-10" [src]="item.flagSvg" [alt]="item.name">
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    <td> {{ item.capital }} </td>
                    <td> {{ item.population }} </td>
                    <td>
                        <a  class="link-primary cursor-pointer"> Mas informacion </a>
                    </td>
                </tr>
            }

        
        </tbody>

    </table>
</div>
</section>